= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p Something went wrong. Check the errors below.
  = end

  .row
    .col.s12
      .input-field
        = text_input f, :name
        = label f, :name
        = error_tag f, :name

  .row
    .col.s12
      .input-field
        = number_input f, :amount, step: "0.01"
        = label f, :amount
        = error_tag f, :amount

  .row
    .col.s12
      .input-field
        = select f, :account_id, @account_map, prompt: "Choose an account"
        = error_tag f, :account_id

  .row
    .col.s12
      .input-field
        = number_input f, :day_of_month
        = label f, :day_of_month
        = error_tag f, :day_of_month

  .row
    .col.s12
      .input-field
        = number_input f, :repeat_period
        = label f, :repeat_period
        = error_tag f, :repeat_period

  .row
    .col.s12
      .input-field
        = date_select f, :start_date, value: Ecto.Date.utc, builder: fn b ->
          .row
            .col.s3
              = b.(:day, [])
            .col.s1 /
            .col.s3
              = b.(:month, [])
            .col.s1 /
            .col.s3
              = b.(:year, [])
        = end
        = error_tag f, :start_date

  .row
    .col.s12
      .input-field
        = submit "Submit", class: "btn btn-primary"
= end
