= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p Something went wrong. Check the errors below.
  = end

  .row
    .col.s12
      .input-field
        = text_input f, :name
        = label f, :name
        = error_tag f, :name

  .row
    .col.s12
      .input-field
        = number_input f, :amount, step: "0.01"
        = label f, :amount
        = error_tag f, :amount

  .row
    .col.s12
      .input-field
        = select f, :account_id, @account_map, prompt: "Choose an account"

  .row
    .col.s12
      .input-field
        = number_input f, :day_of_month
        = label f, :day_of_month
        = error_tag f, :day_of_month

  .row
    .col.s12
      .input-field
        = submit "Submit", class: "btn btn-primary"
= end
