= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      %p Something went wrong. Check the errors below.
  = end

  .row
    .col.s12
      .input-field
        = text_input f, :name, class: "validate"
        = label f, :name
        = error_tag f, :name

  .row
    .col.s12
      .input-field
        = select f, :payee_account_id, @account_map, prompt: "Choose a payee account"
  .row
    .col.s12
      .input-field
        = checkbox f, :credit
        = label f, :credit
        = error_tag f, :credit

  .row
    .col.s12
      .input-field
        = number_input f, :day_of_month, min: "0", step: "1"
        = label f, :day_of_month
        = error_tag f, :day_of_month

  .input-field
    = hidden_input f, :user_id, value: @user_id

  .input-field
    = submit "Submit", class: "btn btn-primary"

= end
