.container
  .row
    .col.l5.s12
      .row
        .col.s12
          .card.white.black-text
            .card-content
              %span.card-title
                .row
                  .col.s10 Accounts
                  .col.s2
                    %a.btn-floating.btn-med.waves-effect.waves-light.red{href: "/accounts/new"}
                      %i.material-icons add
              %ul.collection
                = for account <- @accounts do
                  %li.collection-item
                    %span.title
                      = link to: account_path(@conn, :show, account) do
                        = account.name
                      = end
                    .secondary-content
                      = link to: account_path(@conn, :edit, account) do
                        %i.material-icons mode_edit
                      = end
                = end
      .row
        .col.s12
          .card.white.black-text
            .card-content
              %span.card-title
                .row
                  .col.s10 Transactions
                  .col.s2
                    %a.btn-floating.btn-med.waves-effect.waves-light.red{href: "transactions/new"}
                      %i.material-icons add
            .card-action
              %a{href: "transactions/"} View
      .row
        .col.s12
          .card.white.black-text
            .card-content
              %span.card-title
                .row
                  .col.s10 Recurring Transactions
                  .col.s2
                    %a.btn-floating.btn-med.waves-effect.waves-light.red{href: "recurrences/new"}
                      %i.material-icons add
              %ul.collection
                = for recurrence <- @recurrences do
                  %li.collection-item
                    .row
                      .col.s6= recurrence.name
                      .col.s3= recurrence.amount
                      .col.s3
                        = link to: recurrence_path(@conn, :edit, recurrence) do
                          %i.material-icons mode_edit
                        = end
                = end
    .col.l7.s12
      .card.white.black-text
        .card-content
          .card-title Forecast
          #forecast-root
          .row
            .col.s6
              %input#from-date.datepicker{type: "date"}
              %label{for: 'from-date'} From
            .col.s6
              %input#to-date.datepicker{type: "date"}
              %label{for: 'to-date'} To
