.container
  .row
    .col.s4
      .card.white.black-text
        .card-content
          .card-title Accounts
          %ul.collection.with-header
            = for account <- @accounts do
              %li.collection-item
                %div= account.name
                  = link to: account_path(@conn, :edit, account), class: "secondary-content" do
                    %i.material-icons mode_edit
                  = end
            = end
          %a.btn-floating.btn-large.waves-effect.waves-light.red{href: "/accounts/new"}
            %i.material-icons add
